html, body {
  height: 100% !important;
  width: 100% !important;
  min-width: 100% !important;
  min-height: 100% !important;
}

body > div, .max {
  height: 100% !important;
  width: 100% !important;
  min-height: 100% !important;
  min-width: 100% !important;
	overflow: visible;
}

img {
  max-width: 100% !important;
  max-height: 100% !important;
}
